<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
	<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" th:fragment="deleteModal">
		<form th:attr="data-url-base=@{/bills}" method="POST">
			<input type="hidden" name="_method" value="DELETE"/>
			<div class="modal-dialog" >
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
					</div>
					<div class="modal-body">
			        	<span>Do you really want to delete these record? This process cannot be undone.</span>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">Delete</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</html>