<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:fragment="standartStructure(title, content)">

<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="Content-Type" content="txt/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width"/>
	<title th:replace="${title}">Title PlaceHolder</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datepicker.standalone.min.css}"/>
</head>


<body>
	<header th:insert="~{_Header :: mainHeader}"></header>	
	<section th:replace="${content}">PlaceHolder Content</section>
	
  	<script th:src="@{/js/jquery-2.1.4.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
	<script th:src="@{/js/bootstrap-datepicker.en-CA.min.js}"></script>
	<script th:src="@{/js/jquery.maskMoney.min.js}"></script>
	<script th:src="@{/js/billing.js}"></script>
</body>
</html>